<style>
  .search-btn{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .search-btn:hover{
    background-color: #fe424d;
    color: #ffff;
  }
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-input{
    border-radius: 25px;
    padding: 0.5rem 4rem 0.5rem 4rem;
    font-size: 0.9rem;
  }
  
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <div class="d-flex d-md-none align-items-center w-100">
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-umbrella-beach"></i></a>
      
      <div class="search-bar-mobile-trigger flex-grow-1 mx-2" data-bs-toggle="modal" data-bs-target="#searchModal">
        <div class="search-bar-mobile-text">Search</div>
        <div class="search-bar-mobile-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <a class="navbar-brand d-none d-md-block" href="/listings"><i class="fa-solid fa-umbrella-beach"></i></a>

      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav navbar-center d-none d-md-block">
        <form action="/listings/search" method="GET" class="d-flex search-bar">
          <div class="search-bar-item"><label for="location">Location</label><input type="text" id="location" name="location" placeholder="Search destinations" value="<%= (searchParams && searchParams.location) ? searchParams.location : '' %>"></div>
          <div class="search-bar-item"><label for="dates">Dates</label><input type="text" id="dates" name="dates" placeholder="Add dates" value="<%= (searchParams && searchParams.dates) ? searchParams.dates : '' %>"></div>
          <div class="search-bar-item guest-item"><label for="guests">Guests</label><input type="text" id="guests" name="guests" placeholder="Add guests" readonly></div>
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Wonderbnb your home</a>
        <% if(!currUser){ %><a class="nav-link" href="/signup"><b>Sign Up</b></a><a class="nav-link" href="/login"><b>Login</b></a><% } %>
        <% if(currUser){ %><a class="nav-link" href="/logout"><b>Logout</b></a><% } %>
      </div>
    </div>
  </div>
</nav>

<div id="guest-dropdown" class="guest-dropdown-menu">
    <div class="guest-option">
      <span>Adults</span>
      <div class="guest-counter">
        <button type="button" class="counter-btn" data-type="adults" data-action="decrement">-</button>
        <span id="adults-count">1</span>
        <button type="button" class="counter-btn" data-type="adults" data-action="increment">+</button>
      </div>
    </div>
    <div class="guest-option">
      <span>Children</span>
      <div class="guest-counter">
        <button type="button" class="counter-btn" data-type="children" data-action="decrement">-</button>
        <span id="children-count">0</span>
        <button type="button" class="counter-btn" data-type="children" data-action="increment">+</button>
      </div>
    </div>
    </div>